/* 
    Navbar css
*/
.navbar .navbar-nav .nav-link{
    font-weight: 700;
    font-size: .85rem;
    text-transform: uppercase;
}
.navbar.sticky{
    z-index: 9999!important;
    width: 100%;
    left: 0;
    @include box-shadow(0px 2px 10px -3px rgba(0, 0, 0, 0.2));
}
/**search form**/
.search-toggle{
    position: relative;
}
.search-form{
    position: absolute;
    right: 0;
    width: 250px;
    top: 100%;
    padding: 5px;
    background-color: #e1e1e1;
    display: none;
    z-index:9;
    .form-control{
        border: 0px;
    }
}
@media(min-width:992px){
    .header-transparent-top{
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        z-index: 999;
        .navbar.navbar-dark.bg-dark,.top-bar.top-bar-dark{
            background-color: transparent!important;
            span,li,a,a.nav-link{
                color: #fff!important;
            }
            li.active a.nav-link{
                color: $skincolor!important;
            }
        }        
    }
    .navbar-expand-lg{
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: .9rem;
        padding-right: .9rem;
    }
    .navbar-brand > img {
        display: block;
        margin-top: 3px;
    }

    body.one-page .navbar.navbar-dark.bg-dark{
        background-color: transparent!important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        &.is-stick{
            animation: fadeInDown .4s;
            -webkit-animation: fadeInDown .4s;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            background-color: #222!important;
        }
    }
    .navbar.navbar-light.bg-white.navbar-sticky.is-stick{
        animation: fadeInDown .4s;
        -webkit-animation: fadeInDown .4s;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
        z-index: 999;
    }
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: $skincolor;
}