.space80#about
.container
  .row.vertical-align-child
    .col-lg-6.hidden-xs.wow.animated.fadeInUp{"data-wow-delay" => "0.3s"}
      = image_tag 'truck.png', class: 'img-fluid'
    .col-lg-6.ml-auto.wow.animated.fadeInUp{"data-wow-delay" => "0.6s"}
      %h1
        %span.color_text Home Improvement
        in Huntington Beach, California
      .border-width
      %p
        RJ Murphy Construction, Inc. has established a recognized standard of construction excellence and craftsmanship that is evident from project conception through every phase of construction. Limiting the number of residences under construction at one time allows RJ Murphy Construction, Inc. to give full attention to every phase resulting in a seamless coordination of every detail.
      %hr/
      .buttons
        %a.btn.btn-xl.btn-skin{ href: '#services' } Our Services
        %a.btn.btn-xl.btn-dark{ href: '#contact' } Contact
  .space40
  .row
    .col-lg-4.margin-btm-30.text-center
      .icon-box.clearfix.wow.animated.fadeIn{"data-wow-delay" => "0.3s"}
        %i.flaticon-excavator-machine-arm
        .content
          %h4.text-uppercase 26 Years of Experience
          .border-width
          %p
            A long tradition of excellence. An unrelenting devotion to quality.
    / end col
    .col-lg-4.margin-btm-30.text-center
      .icon-box.clearfix.wow.animated.fadeIn{"data-wow-delay" => "0.6s"}
        %i.flaticon-construction-crane-machine-1
        .content
          %h4.text-uppercase Professionals
          .border-width
          %p
            A deep commitment to client service. A strong investment in personnel.
    / end col
    .col-lg-4.margin-btm-30.text-center
      .icon-box.clearfix.wow.animated.fadeIn{"data-wow-delay" => "0.9s"}
        %i.flaticon-construction-excavator
        .content
          %h4.text-uppercase Superior Service
          .border-width
          %p
            An uncompromising eye for detail. An enduring pride in the product.
