-# NOT IN USE
.cta
  .container
    .row
      .col-lg-9.wow.animated.fadeInDown{"data-wow-delay" => "0.2s"}
        %h3 Everything from start to finish
      .col-lg-3.text-center.wow.animated.fadeInUp{"data-wow-delay" => "0.4s"}
        %a.btn.btn-skin.btn-xl{:href => "#"}
          Contact Us
          %i.ion-em
