-# NOT IN USE
.space80
.container
  .center-title.margin-btm-50
    %h1 Curabitur sodales
    .border-width.center-align
  .row
    .col-lg-9.margin-btm-30
      .row
        .col-lg-6
          .post.wow.animated.fadeInUp{"data-wow-delay" => "0.2s"}
            %a{:href => "post.html"}
              = image_tag 's1.jpg', class: 'img-fluid'
            .space20
            .post-meta
              %h4
                %a{:href => "#"} Post Title goes here
              %ul.list-inline
                %li.list-inline-item
                  %a{:href => "#"}
                    %i.ion-person
                    User
                %li.list-inline-item
                  %a{:href => "#"}
                    %i.ion-ios-clock
                    12 May 2016
                %li.list-inline-item
                  %a{:href => "#"}
                    %i.ion-ios-chatbubble
                    3 Comments
                %li.list-inline-item
                  %a{:href => "#"}
                    %i.ion-pound
                    Interior
            / post meta
            .post-content
              %p
                Donec molestie mi nunc, sed imperdiet leo dictum porttitor. Cras nisl odio, congue eu lacinia vel, lacinia et diam.
              %p.text-right
                %a.btn.btn-link{:href => "#"} Read More...
          / post end
        .col-lg-6
          .post.wow.animated.fadeInUp{"data-wow-delay" => "0.4s"}
            %a{:href => "post.html"}
              = image_tag 's2.jpg', class: 'img-fluid'
            .space20
            .post-meta
              %h4
                %a{:href => "#"} Post Title goes here
              %ul.list-inline
                %li.list-inline-item
                  %a{:href => "#"}
                    %i.ion-person
                    User
                %li.list-inline-item
                  %a{:href => "#"}
                    %i.ion-ios-clock
                    12 May 2016
                %li.list-inline-item
                  %a{:href => "#"}
                    %i.ion-ios-chatbubble
                    3 Comments
                %li.list-inline-item
                  %a{:href => "#"}
                    %i.ion-pound
                    Interior
            / post meta
            .post-content
              %p
                Donec molestie mi nunc, sed imperdiet leo dictum porttitor. Cras nisl odio, congue eu lacinia vel, lacinia et diam.
              %p.text-right
                %a.btn.btn-link{:href => "#"} Read More...
          / post end
    .col-lg-3
      %ul.card-list.list-unstyled.wow.animated.fadeInUp{"data-wow-delay" => "0.6s"}
        %li
          %a{:href => "post.html"}
            %h4 Voluptate velit esse quam nihil molestiae consequatur
            %span
              2 Days Ago
              %em Interior
        %li
          %a{:href => "post.html"}
            %h4 What the estimate time of house painting.
            %span
              2 Days Ago
              %em Interior
        %li
          %a{:href => "post.html"}
            %h4 Voluptate velit esse quam nihil molestiae consequatur
            %span
              2 Days Ago
              %em Interior
        %li
          %a.btn.btn-link{:href => "blog.html"}
            Read All news
