%footer.footer
  .container
    .row
      .col-lg-6.margin-btm-30
        %iframe.google-map{ allowfullscreen: '', frameborder: '0', height: '450', src: ENV['google_maps_url'], style: 'border: 0' }
      .col-lg-6
        %h3 Contact Us

    %hr/
    .row
      .col-lg-5
        %span © 2017. All Right Reserved.
      .col-lg-7
        %ul.text-right
          %li.list-inline-item
            %i.ion-ios-email
            service@rjmurphyconstruction.com /
          %li.list-inline-item
            %i.ion-android-call
            714-596-3500 /
          %li.list-inline-item
            %a{ href: 'https://www.facebook.com/rjmcinc/', target: '_blank' }
              %i.ion-social-facebook
