#hours
  .c_info_bar.wow.animated.fadeIn{"data-wow-delay" => "0.3s"}
    .container
      .row
        .col-lg-12.text-center.margin-btm-30
          %h4
            %i.ion-ios-time
            Monday - Saturday 7:00 AM - 7:00 PM / Sunday: Closed
