.clearfix
.slider-main{:style => "overflow: hidden;"}
  #masterslider.master-slider.ms-skin-default
    .ms-slide{"data-delay" => "14"}
      = image_tag 'blank.gif', data: { src: image_path('kitchen-2.png') }
      %h3.ms-layer.title2.text-uppercase.text-center{"data-delay" => "1500", "data-duration" => "2500", "data-ease" => "easeOutExpo", "data-effect" => "rotate3dtop(-100,0,0,40,t)", "data-type" => "text", :style => "left:150px;top: 260px;"} RJ Murphy Construction, Inc.
      Home Improvement in Huntington Beach, California
    .ms-slide{"data-delay" => "14"}
      = image_tag 'blank.gif', data: { src: image_path('patio.png') }
    .ms-slide{"data-delay" => "14"}
      = image_tag 'blank.gif', data: { src: image_path('harbor_home.png') }
    .ms-slide{"data-delay" => "14"}
      = image_tag 'blank.gif', data: { src: image_path('dining-room.png') }
