%nav.navbar.navbar-expand-lg.navbar-light.bg-white
  .container
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    .navbar-brand
      = image_tag 'logo.png', width: 200, height: 100
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link{:href => "#"} About
        %li.nav-item
          %a.nav-link{:href => "#"} Services
        %li.nav-item
          %a.nav-link{:href => "#"} Testimonials
        %li.nav-item
          %a.nav-link{:href => "#"} Contact
