.space50
.gray-bg#services
  .space80
  .container
    .center-title.margin-btm-50
      %h1 Vivamus ac dui
      .border-width.center-align
    .owl-carousel.owl-theme.service-slider
      .item
        .service-box
          .service-thumb
            %a{:href => "#"}
              = image_tag 's1.jpg', class: 'img-fluid'
          .service-desc
            %h4.text-uppercase Curabitur sodales
            .border-width
            %p
              Sed ut perspiciatis unde omnis doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            .text-right
              %a.btn.btn-link{:href => "#"} Curabitur volutpa
      .item
        .service-box
          .service-thumb
            %a{:href => "#"}
              = image_tag 's2.jpg', class: 'img-fluid'
          .service-desc
            %h4.text-uppercase Vivamus dapibus
            .border-width
            %p
              Sed ut perspiciatis unde omnis doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            .text-right
              %a.btn.btn-link{:href => "#"} Curabitur volutpa
      .item
        .service-box
          .service-thumb
            %a{:href => "#"}
              = image_tag 's3.jpg', class: 'img-fluid'
          .service-desc
            %h4.text-uppercase Totam rem
            .border-width
            %p
              Sed ut perspiciatis unde omnis doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            .text-right
              %a.btn.btn-link{:href => "#"} Curabitur volutpa
  .space50
  .text-center
    %a.btn.btn-xl.btn-skin{:href => "#"}
      Curabitur volutpa
      %i.ion-android-arrow-forward
  .space80
