.space50
.gray-bg#services
  .space80
  .container
    .center-title.margin-btm-50
      %h1 Services
      .border-width.center-align
    .owl-carousel.owl-theme.service-slider
      .item
        .service-box
          .service-thumb
            %a{ href: '#' }
              = image_tag 'home_waterfront_night.png', class: 'img-fluid'
          .service-desc.text-center
            .border-width.center-align
            %br
            %h4.text-uppercase General Contractor
      .item
        .service-box
          .service-thumb
            %a{ href: '#' }
              = image_tag 'kitchen.png', class: 'img-fluid'
          .service-desc.text-center
            .border-width.center-align
            %br
            %h4.text-uppercase Whole House Remodels
      .item
        .service-box
          .service-thumb
            %a{ href: '#' }
              = image_tag 'fireplace.png', class: 'img-fluid'
          .service-desc.text-center
            .border-width.center-align
            %br
            %h4.text-uppercase Room Additions
  .space50
  .text-center
    %a.btn.btn-xl.btn-skin{ href: '#' }
      Contact Us
  .space80
