-# NOT IN USE
.testimonials#testimonials
  .container
    .center-title.margin-btm-50
      %h1 Testimonials
      .border-width.center-align
    .row
      .col-lg-8.mr-auto.ml-auto.text-center
        .testi-slider.owl-carousel.owl-theme
          .item
            %i.ion-quote
            %p
              "Pellentesque eleifend varius mauris, non pretium dui imperdiet eu."
            %h5 John Doe
          .item
            %i.ion-quote
            %p
              "Nunc eleifend odio laoreet nunc feugiat mollis non sit amet nisl."
            %h5 John Doe
          .item
            %i.ion-quote
            %p
              "Donec molestie mi nunc, sed imperdiet leo dictum porttitor."
            %h5 John Doe
